body.graphic { background-image:url(bg_slide.jpg); }
body.color { background-color:#0000A0; }

h1 { font-size:44pt; color:yellow; font-family:Arial,Helvetica;
     text-align:center; }
h2 { font-size:32pt; color:white; font-family:Arial,Helvetica;
     margin-bottom:24px; text-align:center; }
h3 { font-size:28pt; color:white; font-family:Arial,Helvetica;
     text-align:center; }

ul.tiny { margin-left:240px; }
ul.medium { margin-left:160px; }
ul.large { margin-left:80px; }

li { font-size:22pt; color:white; font-family:Arial,Helvetica; }
li.weak { font-size:22pt; color:#808080; font-family:Arial,Helvetica; }
p { font-size:22pt; color:white; font-family:Arial,Helvetica; }
p.weak { font-size:22pt; color:#808080; font-family:Arial,Helvetica; }

td.header { background-image:url(bg_header.gif); }

div.header { margin-top:10px; margin-bottom:24px; }
div.footer { position:absolute; top:460px; left:25px; }
