   @html2ps {
     showurl: 0;
     page-break: 1;
     locale: es;
     seq-number: 0;
     header {
     	left: 0;
     	center: 0;
     	right: 0;
     	odd-left: 0;
     	odd-center: 0;
     	odd-right: 0;
     	even-left: 0;
     	even-center: 0;
     	even-right: 0;
     	font-size: 0;
     	font-style: 0;
     	font-weight: 0;
     	color: 0;
     	alternate: 0;
     }
     footer {
     	left: 0;
     	center: 0;
     	right: 0;
     	odd-left: 0;
     	odd-center: 0;
     	odd-right: 0;
     	even-left: 0;
     	even-center: 0;
     	even-right: 0;
     	font-size: 0;
     	font-style: 0;
     	font-weight: 0;
     	color: 0;
     	alternate: 0;
     }
     frame { width: 3pt }
     hyphenation {
        en {
          file: "/usr/share/html2ps/hyphen.tex";
        }
        es {
          file: "/usr/share/texmf/tex/generic/hyphen/sphyph.tex";
        }
     }
   package {
       ImageMagick: 1;
       PerlMagick: 1;
       Ghostscript: 1;
       TeX: 1;
       djpeg: 1;
       dvips: 1;
       libwww-perl: 0;
       netpbm: 1;

     }
     paper {
     	type: a4;
     }
     option {
       landscape: 1;
       frame: 1;
       toc: 0;
       titlepage: 0;
       rcfile: 0;
       hyphenate: 0;
       number: 0;
     }
   }
   BODY {
     font-family: Helvetica;
     font-size: 18pt;
   }
   H1, H2, H3, H4, H5, H6 { font-family: Helvetica; font-weight: bold; text-align: center }
   H1 { font-size: 35pt }
   H2 { font-size: 32pt }
   H3 { font-size: 29pt }
   H4 { font-size: 26pt }
   H5 { font-size: 23pt }
   H6 { font-size: 20pt }
