Source: sysadmin-guide
Maintainer: Lars Wirzenius <liw@iki.fi>
Section: editor
Priority: optional
Standards-Version: 2.4.1.2

Package: sysadmin-guide
Architecture: all
Description: The Linux System Administrators' Guide
 The Linux System Administrators' Guide from the Linux Documentation Project.
 Aimed at novice system administrators.
