a,a:link,a:active,a:visited {
 color:    blue;
 text-decoration: none;
}

body {
     color: #000000;

	 margin-left: 8%;
	 margin-right: 8%;
	 margin-bottom: 8%;
	 font-size: 11px;
	 text-align: justify;
	 font-family: "verdana", sans-serif;
}

select, input {
	border: solid black 1px;
	padding-left: 5px;
	background: #EFEFEF;
}

h1 {
	font-size: 150%;
}