/* GENERAL */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	} 
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: center; /* parte 1 de 2 hack de centrado */
	}
	
a {
	padding: 2px;
	color: #184867;
	text-decoration: underline;
	}
a:hover {
	padding: 2px;
	color: #fff;
	background-color: #184867;
	text-decoration: none;
	}
h1 {
	margin: 5px 5px 5px 5px;
	font-size: 20px;
	color: #671836;
	}
h2 {
	margin: 5px 5px 5px 8px;
	font-size: 16px;
	color: #184867;
	}
p {
	margin: 5px 5px 5px 10px;
	font-size: 12px;
	}
ol {
	list-style-position: inside;
	list-style-type: decimal;
	margin: 10px 0px 10px 15px;
	padding: 0px;
	}
ul {
	list-style-position: inside;
	list-style-type: square;
	margin: 10px 0px 10px 15px;
	padding: 0px;
	}
input {
	margin: 2px;
	padding: 2px;
	border: 1px solid #184867;
	color: #184867;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
submit {
	margin: 2px;
	padding: 2px;
	border: 1px solid #184867;
	color: #184867;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

/* CABECERA */

#cabecera {
	width: 800px;
	height: 75px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding: 0px;
	/*border: 1px solid #000;*/
	background-image: url(../images/fondo_cabecera.gif);
	background-repeat: repeat-x;
	background-position: top;
	}
#logo01 {
	margin: 0px 0px 0px 0px;
	float: left;
	}
#banner_principal {
	border: 1px solid #671836;
	margin: 6px 5px 5px 5px;
	float: right;
	}

/* MENU SUPERIOR */

#menu_superior {
	width: 800px;
	height: 25px;
	margin-top: 2px;
	margin-right: auto;
	margin-left: auto;
	text-align: left; /* parte 2 de 2 hack de centrado */
	padding: 0px;
	}
td.menu_superior_off {
	border-top: 2px solid #e4ecef;
	border-bottom: 2px solid #e4ecef;
	text-align: center;
	color: #184867;
	font-size: 12px;
	font-weight: bold;
	cursor: auto;
	}
td.menu_superior_on {
	border-top: 2px solid #e4ecef;
	border-bottom: 2px solid #e4ecef;
	text-align: center;
	color: #184867;
	font-size: 12px;
	font-weight: bold;
	background-color: #e4ecef;
	cursor: pointer;
	}

/* PRINCIPAL */

#principal {
	width: 800px;
	margin-top: 2px;
	margin-right: auto;
	margin-left: auto;
	text-align: left; /* parte 2 de 2 hack de centrado */
	padding: 5px;
	}

/* MENU IZQUIERDA */

div.menu_izquierda {
	margin-bottom: 5px;
	#width: 150px;
	text-align: left; /* parte 2 de 2 hack de centrado */
	#float: left;
	padding: 2px;
	background-color: #e4ecef;
	}
td.menu_izquierda_cabecera {
	padding: 5px;
	color: #fff;
	background-color: #4B7189;
	font-size: 11px;
	font-weight: bold;
	}
td.menu_izquierda_on {
	padding: 5px;
	border: 1px solid #184867;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	background-color: #9EBFCC;
	cursor: pointer;
	}
td.menu_izquierda_off {
	padding: 5px;
	border: 1px solid #e4ecef;
	color: #184867;
	font-size: 10px;
	font-weight: bold;
	background-color: #e4ecef;
	cursor: auto;
	}

/* MIGAS DE PAN */

#migas {
	margin: 0px 5px 5px 15px;
	color: #671836;
	}
a.migas {
	padding: 0px;
	color: #184867;
	}
a.migas:hover {
	color: #184867;
	background-color: #fff;
	text-decoration: none;
	}
#separador {
	padding: 0px;
	margin: 10px 5px 15px 5px;
	border-top: 1px solid #671836;
	}

/* CONTENIDO */

#contenido {
	width: 425px;
	margin: 0px 0px 5px 5px;
	text-align: left; /* parte 2 de 2 hack de centrado */
	#float: left;
	padding: 5px;
	}

/* MENU INFERIOR */

#menu_inferior {
	width: 425px;
	margin-top: 25px;
	text-align: right; /* parte 2 de 2 hack de centrado */
	padding: 2px 2px 2px 2px;
	color: #184867;
	border-top: 1px solid #184867;
	clear: left;
	}
a.menu_inferior {
	padding: 0px;
	font-size: 9px;
	color: #184867;
	text-decoration: none;
	}
a.menu_inferior:hover {
	background-color: #fff;
	text-decoration: underline;
	}

/* MENU DERECHA */

div.menu_derecha {
	margin-bottom: 5px;
	#width: 125px;
	text-align: left; /* parte 2 de 2 hack de centrado */
	#float: right;
	padding: 5px;
	background-color: #e4ecef;
	}
#buscar {
	width: 110px;
	padding: 0px;
	text-align: right;
	}
#inputBuscar {
	width: 101px;
	padding: 5px;
	}
img.minibanner{
	border: 1px solid #671836;
	margin: 6px;
	}
img.mascota {
	border: 1px solid #8F8E8E;
	margin: 6px;
	}

a.simple:hover
{
}

td 
{
	font-size: 12px;
}

tr.title
{
	background-color: #e4ecef;
}

tr.content_odd
{
	background-color: #ffffff;
}

tr.content_even
{
	background-color: #e4ecef;
}


td.files
{
	text-align: right;
}
