 
/* start css.sty */
.cmr-7{font-size:70%;}
.cmmi-5{font-size:50%;font-style: italic;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-7{font-size:70%;}
.cmr-17{font-size:170%;}
.cmr-17x-x-143{font-size:243%;}
.cmr-12x-x-120{font-size:144%;}
.cmr-12{font-size:120%;}
.cmr-8{font-size:80%;}
.cmsy-10x-x-120{font-size:120%;}
.cmsy-8{font-size:80%;}
.cmti-10{ font-style: italic;}
.cmtt-10{font-family: monospace;}
.cmbx-10{ font-weight: bold;}
.cmbx-12x-x-120{font-size:144%; font-weight: bold;}
.cmti-8{font-size:80%; font-style: italic;}
.cmbx-12{font-size:120%; font-weight: bold;}
.cmbx-8{font-size:80%; font-weight: bold;}
.cmsl-10{font-style: oblique;}
.cmtt-8{font-size:80%;font-family: monospace;}
.cmtt-12x-x-144{font-size:172%;font-family: monospace;}
.cmtt-12{font-size:120%;font-family: monospace;}
.cmcsc-10x-x-120{font-size:120%;}
.cmcsc-10x-x-80{font-size:80%;}
.cmss-12{font-size:120%;  font-family: sans-serif;}
.cmtt-12x-x-120{font-size:144%;font-family: monospace;}
.cmtt-9{font-size:90%;font-family: monospace;}
.cmr-17x-x-120{font-size:204%;}
.cmsy-10x-x-207{font-size:207%;}
/* end css.sty */
