  pre.display { font-family:inherit }
  pre.format  { font-family:inherit }
  pre.smalldisplay { font-family:inherit; font-size:smaller }
  pre.smallformat  { font-family:inherit; font-size:smaller }
  pre.smallexample { font-size:smaller }
  pre.smalllisp    { font-size:smaller }
  span.sc { font-variant:small-caps }
  span.roman { font-family: serif; font-weight: normal; } 

a,:active,:link { 
	text-decoration: none;
}

body {
     color: #828080;
     background-color: #E9E6E6;
     margin-left: 8%;
     margin-right: 8%;
     margin-top: 4%;
     margin-bottom: 8%;
     font-size: 12px;
     text-align: justify;
     font-family: "verdana", sans-serif;
}

li>b, div.node, h2.unnumbered+ul.menu, div.contents  {
     border-left: 1px solid #B4B0B0;
     border-right: 1px solid #B4B0B0;
     border-bottom: 1px solid #B4B0B0;
     border-top: 1px solid #B4B0B0;
     background-color: #F8F6F6;
     padding-left: 1%;
     padding-right: 1%;
     padding-top: 1%;
     padding-bottom: 1%;
}

div.contents, h2.unnumbered+ul.menu {
    margin-botton: 3%;
}

div.node {
	font-weight: bold;
}

div.node>hr, pre.sp {
	display: none;
}

body>ul>li {
   list-style-type: none;
   margin-top: 3%;
}

li>ol {
   margin-top: 1%;
   margin-botton: 1%;
}

h2 {
	font-size: 200%;
}