#########################################################################
# Archivo de configuracion de ejemplo del programa damesrv
#########################################################################
#
# Si cualquiera de las variables mainserver o localhost no están definidas,
# la configuración NO se aplicará. Si, y sólo si, ambas variables tienen un
# valor definido y en formato correcto, el resto del fichero será
# procesado.
#
# En el caso de que el archivo no sea procesado, el programa continuará
# ejecutándose con la última configuración válida.
#


#########################################################################
# Variables
#########################################################################
# 
#
# Las variables de configuración están muy limitadas en esta versión y se
# limitan al servidor principal que escucha las peticiones ("mainserver") y
# la ruta al servidor FTP local ("localpath").
#
# Para dar nombre a una variable se pone su nombre, seguido del caracter
# '=' y seguido de su valor entre comillas dobles.
#
mainserver="http://genarin.hispalinux.es/LuCAS" 
localpath="/var/ftp/pub/LuCAS"



#########################################################################
# Lista de servidores HTTP espejos de LuCAS
#########################################################################
#
# Los servidores espejos se definen con una URL en limpio y sin formato. Un
# ejemplo sería:
#
#    http://genarin.hispalinux.es/LuCAS
#
# El programa comprueba que la URL comienza por "http://" y tiene, al
# menos, un punto ("."). Si una de las URLs no es válida, se ignorará,
# teniendo en cuenta el resto y la configuración de este archivo.
#
# Las direcciones o URLs no pueden contener espacios.
#
http://consejo-eps.uco.es/LuCAS
http://genarin.hispalinux.es/LuCAS
http://ulises.adi.uam.es/LuCAS
http://www.ibiblio.org/pub/Linux/docs/LuCaS
http://genarin.hispalinux.es/LuCAS
http://www.dynamics.unam.edu/Replicas/LuCAS
http://lucas.dramor.net
http://genarin.hispalinux.es/LuCAS
http://ulises.adi.uam.es/LuCAS
http://ftp.gul.uc3m.es/mirrors/LuCAS
http://www.polinux.upv.es/LuCAS
http://www.ibiblio.org/pub/Linux/docs/LuCaS/
http://genarin.hispalinux.es/LuCAS
http://www.dynamics.unam.edu/Replicas/LuCAS
http://lucas.dramor.net
http://ftp.gul.uc3m.es/mirrors/LuCAS
http://genarin.hispalinux.es/LuCAS
http://www.dynamics.unam.edu/Replicas/LuCAS
http://genarin.hispalinux.es/LuCAS
http://www.ibiblio.org/pub/Linux/docs/LuCaS

